
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// *{
//     outline:1px solid red;
//   }
  
.rentpoints2{
  margin-top: 220px;
}

.phonelink:link{
  text-decoration: none;
  color: white;
}

.phonelink:hover{
  text-decoration: none;
  color: white;
}

.phonelink:visited{
  text-decoration: none;
  color: white;
}

.phonelink:active{
  text-decoration: none;
  color: white;
}

.col-sm-2{
  margin-top: 70px;
}

.secondcontainerpartest {
  display:none; 
}

.secondcontainerpartestright {
  display:none; 
}

.macbookgreen{
  display: none;
}

.macbookblue{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

.rentpoints{
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.rentpoints2{
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.rentpoints{
  margin-top: 200px;
}

.holding{
   position: relative;
   z-index: 101;
   width: 100%;
   height: 350px;
   margin-top: 80px;
}

.subheader {
  position: fixed;
  width: 100%;
  margin-top: 86px;
  height: 52px;
  background-color: #7BBC28;
  z-index: 99;
  display: none;
}

// $font-stack: proxima;
$primary-color: #444444;
$secondary-color: #7BBC28;

h1 {
  font-family: proxima_nova_rgregular;
  // font-family: proxima_nova_ltlight, sans-serif;
  // font-weight: 600;
  font-size: 2.5em;
  color: $secondary-color;
}

.fontlink:link{
  text-decoration: none;
  color: $secondary-color;
}

.frontlink:hover{
  text-decoration: none;
  color: $secondary-color;
}

.frontlink:visited{
  text-decoration: none;
  color: $secondary-color;
}

.frontlink:active{
  text-decoration: none;
  color: $secondary-color;
}

.phonelinkdemo:link{
  text-decoration: none;
  color: $secondary-color;
}

.phonelinkdemo:hover{
  text-decoration: none;
   color: $secondary-color;
}

.phonelinkdemo:visited{
  text-decoration: none;
   color: $secondary-color;
}

.phonelinkdemo:active{
  text-decoration: none;
  color: $secondary-color;
}


/* Navigation Menu - Background */
.navigation {
  margin-top: 80px;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index:1;
  list-style: none;
  background: $secondary-color;
}

ul{
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0px;
}

li{
  text-align: center;
}

/* Navigation Menu - List items */
.nav-item {
  width: 200px;
}

.nav-item a {
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover a:active  {
  color: $primary-color;
}

.smnav  {
  font-size: .7em;
}


/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: #fff; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding-bottom: 0px;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  right: 20px; top: 20px;
  z-index: 122;
  height: 42px;
  width: 57px;
  cursor: pointer;
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger .site-wrap {
  right: 15px;
  transition: right 0.2s;
}
.nav-trigger:checked, .site-wrap {
  right: 215px;
}

.nav-trigger:checked ~ .navigation {
  border: 4px solid red;
}

.nav-trigger:checked ~ .site-wrap {
  left: -200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

.nav-trigger:checked ~ .container {
  left: -200px;
  // box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
  font-family: 'proxima_nova_ltlight';
}

.holding2{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 240px;
   margin-top: 540px;
   margin-bottom: 25px;
}

.holding3{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 280px;
   margin-top: 390px;
}

.holding4{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 240px;
   margin-top: 440px;
}

.hspace{
  width: 100%;
  height: 50px;
}

.quote2 {
  margin-left: 8%;
  margin-top: -405px;
  font-weight: 400;
  font-size: 3em;
  color: #fff;
  z-index: 102;
  line-height: 1.3em;
  width: 85%;
  height: 300px;

} 

input{
  position: relative;
  display: block;
  margin: 0 auto;
  height: 47px;
  width: 65%;
  font-size: 1.2em;
  color:$secondary-color;
  margin-bottom: 8px;
  text-align: center;
}
 
::-webkit-input-placeholder {
 padding-top: -10px;
 font-size: 1.2em;
 text-align: center;
}

input:focus{
  font-size: 1.2em;
  color:$secondary-color;
  box-shadow: none;
  // box-shadow: 0 0 5px 1px $secondary-color;
  border:1px solid #ccc;
  outline: 0;
}

textarea:focus{
  outline:0;
  box-shadow: none;
}

.footerco {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 80px;
  padding-top: 17px;
  color: #777;
  background-color: $primary-color;
  text-align: center;
  z-index: 120;
}

.services{
  font-weight: 600;
}
  
.onewhite {
  position: relative;
  font-weight: 600;
  font-size: 3em;
  color: #fff;
}

h2 {
  font-weight: 600;
  font-size: 1.7em;
  color: $secondary-color;
}

.phonenumber{
    color: #fff;
    margin-top: 120px;
}

.phonenumberdemo{
    margin-top: 150px;
    margin-bottom: 50px;
    color: $secondary-color;
}

.titlecolor {
  font-weight: 600;
  font-size: 1.7em;
  color: #fff;
  z-index: 102;
}

.titlecolor2 {
  font-weight: 600;
  font-size: 1.7em;
  color: $secondary-color;
  z-index: 102;
}


.lead{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.3em;
}

.leadwhite{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 600;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
}

.companypoints{
   margin-top: 15px;
  margin-left: 12%;
  margin-right: 12%;
  font-weight: 200;
  font-size: 1.4em;

}

.mainpoints{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.1em;
  z-index: 101;
}
  
.pointswhite{
    color: #fff;
 }
 

.learn{
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 300;
  font-size: 1.1em;
  color: #7BBC28;
}

/* Custom page header */
.header {
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: #444444;
  z-index: 99;
    .headerlogo {
      width: 180px;
      margin-top: 25px;
      margin-left: 25px;
    }
}

.nav > li > a:hover,
.nav > li > a:focus {
        text-decoration: none;
        background-color: transparent; 
        color: $secondary-color;
 }

.nav {
    display: none;
  }
  
.greenbar{
  float: left;
  width: 15px;
  height: 85px;
  background-color: $secondary-color;
}

.menu {
  width: 42px;
  float:right;
  margin-top: 9px;
  margin-right: 12px;
}

.container{
  width: 100%;
  padding: 0px;
  z-index: 120;
}

/* Main marketing message and sign up button */
.firstcontainer {
  display: block;
  margin-top: 114px;
  text-align: center;
  // z-index: 120;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

fieldset{
  margin-bottom: 20px;
}

// form{
//   margin-bottom: 170px;
// }

.img-responsive{
  margin-top: -400px;
  position: relative;
  z-index: -2; 
}

  .conthome{
  margin-top: -290px;
  position: relative;
  z-index: -2; 
}

  .rephome{
  margin-top: -340px;
  position: relative;
  z-index: -2; 
}

  .leadhome{
  margin-top: -390px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -340px;
  position: relative;
  width: 100%;
  height: 400px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.contactmove{
  margin-top: -300px;
  position: relative;
  width: 100%;
  height: 400px;
}

.homemove{
  margin-top: -255px;
  position: relative;
  width: 100%;
  height: 400px;
}

.img-responsive-grey{
  margin-top: -380px;
  height: 650px;
  width: 100%;
  position: relative;
  z-index: -1; 
}

.downarrow{
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 15px;
  z-index: 101;
}

.dataicon{
  display:block;
  margin: 0 auto;
  width: 80px;
}

.roundpic{
  display:block;
  margin: 0 auto;
  width: 140px;
}

.centerdivider{
  margin: 0 auto;
  width: 300px;
  display: block;

}

.dividerdots{
  float: left;
  // margin: 0 auto;
  width: 35px;
  margin-top: -13px;
}

.dividerlinewhitefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: #fff;
  clear:right;
}

.dividerlinewhite{
  float: left;
  margin-left: 10px;
  // margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: #fff;
  clear:right;
}

.dividerlinefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
    background-color: $primary-color;
  clear:right;
}

.dividerline{
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: $primary-color;
  clear:right;
}


.greendividerdots{
  display: none;
}

.col-md-3{
  margin-top: 60px;
}

.secondcontainer {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.secondcontainerdemo {
  padding-top: 130px;
  // margin-top: 130px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.secondcontainerpar {
  margin-top: -410px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerparrent {
  margin-top: -363px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerbottom {
  position: relative;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 50px;
}


.secondcontainerbottomdemo {
  position: relative;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}

.demoinputs{
  margin-top: 7%;
  height:175px;
  margin-bottom: 60px;
}

.demoinputsco{
  margin-top: -5%;
  height: 175px;
  margin-bottom: 0px;
}

.bottomcontainer {
  margin-top: -280px;
  text-align: center;
  margin-bottom: 0px;
}

.bottomcontainerco {
  margin-top: -980px;
  text-align: center;
  margin-bottom: 0px;
}

.thirdcontainer {
  margin-top: 170px;
  text-align: center;
  margin-bottom: 60px;
}

.thirdcontainercompany {
  margin-top: -20px;
  text-align: center;
  margin-bottom: 80px;
}

.thirdcontainercompanybottom {
  margin-top: -20px;
  text-align: center;
  margin-bottom: 80px;
}

.thirdcontainerdouble {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}

.fourthcontainer {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -20px;
}

.fourthcontainerrent {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 0px;
}

.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 190px;
  margin-bottom: -150px;
}

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 140px;
  margin-bottom: -150px;
}

.fourthcontainerdemo {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -20px;
}

.fourthcontainerimage {
  margin-top: -150px;
  position: relative; 
  width: 100%;
  height: auto;
  z-indez: 99;
}

.dividercontainer {
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 10%;
  clear: right;
}

.dividercontainerbottom {
  float: left;
  width: 100%;
  height: 40px;
  margin-top: 30%;
  clear: right;
}

.greendiagonal{
  width: 100%;
  background-color: transparent;
  z-index: 101;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 450px;
}

.imac{
  display: block;
  margin: 0 auto;
  width: 90%;
}

.macbook{
  display: block;
  margin: 0 auto;
  width: 77%;
  margin-top: 143px;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  width: 77%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: -50px;
  width: 60%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}

  /* Make the masthead heading the same height as the navigation */
 h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

/* Custom page footer */
.footer {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 80px;
  padding-top: 17px;
  color: #777;
  background-color: $primary-color;
  text-align: center;
  z-index: 120;
}



.glyphicon{
  margin-top: 28px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
 
 .companypoints2{
  margin-top: 210px;
}





}


@media screen and (min-width: 321px) {
  
.rentpoints{
  margin-top: 200px;
}

.rentpoints2{
  margin-top: 220px;
}

.holding{
   position: relative;
   z-index: 101;
   width: 100%;
   height: 350px;
   margin-top: 75px;
}

.holding2{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 240px;
   margin-top: 460px;
}

.holding3{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 280px;
   margin-top: 420px;
}

.holding4{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 240px;
   margin-top: 400px;
}

.hspace{
  width: 100%;
  height: 50px;
}

.img-responsive{
  margin-top: -380px;
  position: relative;
  z-index: -2; 
}

.rephome{
  margin-top: -320px;
  position: relative;
  z-index: -2; 
}

  .conthome{
  margin-top: -300px;
  position: relative;
  z-index: -2; 
}

  .leadhome{
  margin-top: -390px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -300px;
  position: relative;
  width: 100%;
  height: 400px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.movetest{
  margin-top: -340px;
  position: relative;
  width: 100%;
  height: 400px;
}

.contactmove{
  margin-top: -250px;
  position: relative;
  width: 100%;
  height: 400px;
}

.contactmove{
  margin-top: -240px;
  position: relative;
  width: 100%;
  height: 400px;
}

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 70px;
  margin-bottom: -150px;
}
}

/* Responsive: Portrait phones and up */
@media screen and (min-width: 400px) {
  
.greendividerdots{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 35px;
}
  
.rentpoints{
  margin-top: 50px;
}

.rentpoints2{
  margin-top: 110px;
}


.holding{
   position: relative;
   z-index: 101;
   width: 100%;
   height: 350px;
   margin-top: 0px;
}

.holding2{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 240px;
   margin-top: 380px;
}

.holding3{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 280px;
   margin-top: 370px;
}

.holding4{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 240px;
   margin-top: 330px;
}

.hspace{
  width: 100%;
  height: 0px;
}

.quote2 {
  margin-left: 8%;
  margin-top: -319px;
  font-weight: 400;
  font-size: 1.7em;
  color: #fff;
  z-index: 102;
  line-height: 1.3em;
  width: 85%;
  height: 165px;

}


.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 60px;
  margin-bottom: -10px;
}

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: -10px;
}

  
.firstcontainer {
  margin-top: 124px;
}

.img-responsive{
  margin-top: -410px;
  position: relative;
  z-index: -2; 
}

  .conthome{
  margin-top: -385px;
  position: relative;
  z-index: -2; 
}

  .leadhome{
  margin-top: -400px;
  position: relative;
  z-index: -2; 
}

  .renthome{
  margin-top: -400px;
  position: relative;
  z-index: -2; 
}



.gradetest{
  margin-top: -360px;
  position: relative;
  width: 100%;
  height: 400px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.contmove{
  margin-top: -200px;
  position: relative;
  width: 100%;
  height: 400px;
}

.movetest{
  margin-top: -240px;
  position: relative;
  width: 100%;
  height: 400px;
}



.leadmove{
  margin-top: -290px;
  position: relative;
  width: 100%;
  height: 400px;
}

.rentmove{
  margin-top: -300px;
  position: relative;
  width: 100%;
  height: 400px;
}

.txtmove{
  margin-top: -290px;
  position: relative;
  width: 100%;
  height: 400px;
}

.contactmove{
  margin-top: -240px;
  position: relative;
  width: 100%;
  height: 400px;
}

.repmove{
  margin-top: -265px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.homemove{
  margin-top: -240px;
  position: relative;
  width: 100%;
  height: 400px;
}



.thirdcontainer {
  margin-top: 70px;
  text-align: center;
}

.thirdcontainercompany {
  margin-top: -10px;
  text-align: center;
}

.thirdcontainercompanybottom {
  margin-top: -10px;
  text-align: center;
}

.thirdcontainerdouble {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}

// .firstcontainer{
//   height: 700px;
// }

.arrow{
  margin-top: 100px;
}

/* Main marketing message and sign up button */
.secondcontainer {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.secondcontainerpar {
  margin-top: -355px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerparrent {
  margin-top: -299px;
  text-align: center;
  margin-bottom: 150px;
  z-index: 101;
  margin-left: 5%;
  margin-right: 5%;
}

.leadwhite{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
}

.macbook{
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 193px;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 55%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
}

.dividercontainerbottom {
  width: 100%;
  height: 40px;
  margin-top: 30%;
  clear: right;
}

.secondcontainerpartest {
  display:none; 
}

.secondcontainerpartestright {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}



}

@media screen and (min-width: 558px) {
  
  .secondcontainerpar {
  margin-top: -335px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}
  

.img-responsive{
  margin-top: -420px;
  position: relative;
  z-index: -2; 
}

.conthome{
  margin-top: -405px;
  position: relative;
  z-index: -2; 
}

.rephome{
  margin-top: -390px;
  position: relative;
  width: 100%;
}

.leadhome{
  margin-top: -500px;
  position: relative;
  width: 100%;
}


.gradetest{
  margin-top: -340px;
  position: relative;
  width: 100%;
  height: 400px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.contmove{
  margin-top: -185px;
  position: relative;
  width: 100%;
  height: 400px;
}

.movetest{
  margin-top: -235px;
  position: relative;
  width: 100%;
  height: 400px;
}

.homemove{
  margin-top: -220px;
  position: relative;
  width: 100%;
  height: 400px;
}

.leadmove{
  margin-top: -240px;
  position: relative;
  width: 100%;
  height: 500px;
}

.contactmove{
  margin-top: -190px;
  position: relative;
  width: 100%;
  height: 400px;
}

.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 0px;
} 

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 0px;
}  


}

@media screen and (min-width: 640px) {
  
  .holding2{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 140px;
   margin-top: 330px;
}

.holding3{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 200px;
   margin-top: 340px;
}

.holding4{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 220px;
   margin-top: 330px;
}

.hspace{
  width: 100%;
  height: 0px;
}

.quote2 {
  margin-left: 8%;
  margin-top: -295px;
  font-weight: 400;
  font-size: 1.7em;
  color: #fff;
  z-index: 102;
  line-height: 1.3em;
  width: 85%;
  height: 125px;

}
  
 .firstcontainer{
   margin-top: -50px;
 }
  
.img-responsive{
  margin-top: -586px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -505px;
  position: relative;
  width: 100%;
  height: 650px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.homemove{
  margin-top: -400px;
  position: relative;
  width: 100%;
  height: 700px;
} 

.resptest{
    margin-top: -525px;
    width: 100%;
    position: relative;
}

.movetest{
  margin-top: -310px;
  position: relative;
  width: 100%;
  height: 550px;
} 

.contactmove{
  margin-top: -310px;
  position: relative;
  width: 100%;
  height: 550px;
}

.contmove{
  margin-top: -260px;
  position: relative;
  width: 100%;
  height: 550px;
}

.leadmove{
  margin-top: -340px;
  position: relative;
  width: 100%;
  height: 550px;
}

.repmove{
  margin-top: -330px;
  position: relative;
  width: 100%;
  height: 550px;
}

.txtmove{
  margin-top: -320px;
  position: relative;
  width: 100%;
  // height: 400px;
}


.fourthcontainerrent {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 20px;
}
  
.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
}  

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
} 
  
.content{
  margin-top:250px;
}

h1 {
  color: $secondary-color;
}

.thirdcontainer {
  margin-top: 100px;
  text-align: center;
}

.thirdcontainercompany {
  margin-top: 100px;
  text-align: center;
}

.thirdcontainercompanybottom {
  margin-top: 100px;
  text-align: center;
}

.greendiagonalpar{
  margin-top: 30px;
  width: 100%;
  height: 450px;
}

.secondcontainerpar {
  margin-top: -322px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerparrent {
  margin-top: -45%;
  text-align: center;
  margin-bottom: 150px;
  z-index: 101;
  margin-left: 5%;
  margin-right: 5%;
}

.secondcontainerpartest {
  display:none; 
}

.secondcontainerpartestright {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 230px;
  width: 32%;
}
  
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
// .holding2{
//    position: relative;
//    z-index: 1;
//    width: 100%;
//    height: 100px;
//    margin-top: 330px;
// }

// .holding3{
//    position: relative;
//    z-index: 1;
//    width: 100%;
//    height: 200px;
//    margin-top: 140px;
// }

// .holding4{
//    position: relative;
//    z-index: 1;
//    width: 100%;
//    height: 220px;
//    margin-top: 330px;
// }

// .hspace{
//   width: 100%;
//   height: 0px;
// }


  
  .quote {
  margin-left: 8%;
  font-weight: 400;
  font-size: 3em;
  color: #fff;
  z-index: 102;
  line-height: 1.2em;
  width: 85%;
  margin-top: -70px;
} 


  
  
 .whitebar{
   position: relative;
   width: 100%;
   height: 500px;
   margin-top: 500px;
 }
  
  
.hleft{
    text-align: left;
    margin-left: 22.5%;
    font-size: 3em;
}

.hcenter{
    // text-align: left;
    // margin-left: 22.5%;
    font-size: 3em;
    color: $secondary-color;
}

.mainpoints{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.4em;
  z-index: 101;
}
  
  
.leadpoints2{
    text-align: left;
}
  
.whyrent{
  position: relative;
  z-index: 90;
  font-size: 3.5em;
  text-align: left;
  margin-left: 7.5%;
}

.lead{
  margin-top: 15px;
  // margin-left: 19%;
  margin-right: 27%;
  text-align: left;
  font-weight: 200;
  font-size: 1.4em;
}

.arrow{
  margin-top: 50px;
  margin-left: -76%;
}

.content{
  margin-top: 270px;
}
  
.navigation{
  display:none;
}

.img-responsive{
  margin-top: -794px;
  position: relative;
  z-index: -2; 
}

.homegrade{
  margin-top: -640px;
  position: relative;
  z-index: -2; 
  width: 100%;
}

.conthome{
  margin-top: -654px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -475px;
  position: relative;
  width: 100%;
  height: 850px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}  

.repmove{
  margin-top: -390px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.homemove{
  margin-top: -550px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.contactmove{
  margin-top: -390px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.contmove{
  margin-top: -305px;
  position: relative;
  width: 100%;
  height: 650px;
}


 
.fourthcontainerrent {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 40px;
}

.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 40px;
}

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -20px;
}

.rentpoints{
  width: 100%;
  height: 580px;
  margin-bottom: 150px;
  clear: both;
}

.rentpoints2{
  width: 100%;
  height: 280px;;
  margin-bottom: 0px;
  clear: both;
}

.thirdcontainerdouble{
  height: 300px;
  margin-top: 30px;
}

.col-lg-2{
  margin-top: 20px;
  width: 50%;
}
  
.container {
   max-width: 100%;
}
  
.header {
   margin-bottom: 30px;
   z-index: 99;
     .headerlogo{
       margin-left: 40px;
     }
     .nav {
       display: inline-block;
       margin-top: 24px;
       margin-right: 40px;
     }
     .menu{
       display: none;
     }
}
  
.subheader {
    display: block;
    z-index: 98;
     .nav {
       margin: 0 auto;
       width: 100%;
     }
}
  
.subtxt{
      display: inline;
      width: 100px;
      margin: 0 auto;
      margin-left: 5%;
      font-weight: 400;
      font-size: 1em;
 }
  
  .dropnav{
    display: block;
    width: 805px;
    margin: 0 auto;
    margin-top: 16px;
  }
  
  .sublink:hover {
    text-decoration: none;
    color: $primary-color;
  }
  
  
  label{
       display: none;
  }
     
    a:visited {
    color: #fff;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 230px;
  width: 30%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 230px;
  width: 30%;
}


.macbook{
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: 143px;
}

.imac{
  display: block;
  margin: 0 auto;
  width: 90%;
}

.col-md-3{
  margin-left: 3%;
  margin-right: 3%;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 20%;
}

input{
  width: 45%;
  color:$secondary-color;
}

.hdemo{
  font-size: 4em;
}

.demoinputs{
  margin-top: 2%;
  height:175px;
}

.secondcontainerpar {
  margin-top: -49%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerparrent {
  margin-top: -41%;
  text-align: center;
  margin-bottom: 150px;
  z-index: 101;
  margin-left: 10%;
  margin-right: 10%;
}

.fourthcontainer {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
}

.arrow{
  margin-top: 50px;
}

.thirdcontainer {
  margin-top: -20px;
  text-align: center;
}

.thirdcontainercompany {
  margin-top: -20px;
  text-align: center;
}

.thirdcontainercompanybottom {
  margin-top: -20px;
  text-align: center;
}

.secondcontainerpartest {
  display:none; 
}

.secondcontainerpartestright{
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

.secondcontainerbottom{
  margin-top: 50px;
}

.demoinputsco{
  margin-top: 6%;
  height:175px;
  margin-bottom: 0px;
}

.holding2{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 210px;
   margin-top: 450px;
}

.holding3{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 280px;
   margin-top: 500px;
}

.holding4{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 270px;
   margin-top: 440px;

}

.quote2 {
  margin-left: 8%;
  margin-top: -340px;
  font-weight: 400;
  font-size: 2em;
  color: #fff;
  z-index: 102;
  line-height: 1.3em;
  width: 85%;
  height: 165px;

}  
  


}

// @media screen and (min-width: 992px) {
  
  
// .col-md-3{
//   margin-left: 6.5%;
//   margin-right: 0;
// }

// .secondcontainerpartest {
//   display:none; 
// }

// .macbookgreen{
//   display: none;
// }

// .secondcontainerpargreen{
//   display: none;
// }

// .secondcontainerpar {
//   margin-top: -42%;
//   text-align: center;
//   margin-bottom: 50px;
//   z-index: 101;
// }

// .secondcontainerparrent {
//   margin-top: -37%;
//   text-align: center;
//   margin-bottom: 150px;
//   z-index: 101;
//   margin-left: 10%;
//   margin-right: 10%;
// }

// .greendiagonalpar{
//   width: 100%;
//   background-color: transparent;
//   z-index: 90;
//   height: 20%;
// }

// .thirdcontainercompany{
//   height: 250px;
//   width: 100%;
//   margin-top: -50px;
//   clear:both;
// }

// .thirdcontainercompanyco{
//   height: 250px;
//   width: 100%;
//   margin-top: -50px;

// }
// }

/* Deskstop and up */
@media screen and (min-width: 992px) {
  
 .demoinputsco{
  margin-top: 12%;
  height:175px;
  margin-bottom: 0px;
}
  
.hspace{
  width: 100%;
  height: 70px;
}
  
.thirdcontainercompany{
  height: 250px;
  width: 100%;
  margin-top: -120px;
  margin-bottom: 120px;
  clear:both;
}

.thirdcontainercompanybottom{
  height: 350px;
  width: 100%;
  margin-top: -50px;
  margin-bottom: 140px;
  clear:both;
}

.picsmove{
  margin-top:-220px;
}

h2 {
  font-weight: 600;
  font-size: 1.7em;
  color: $secondary-color;
}

 .rentpoints{
  width: 100%;
  height: 360px;;
  margin-bottom: 430px;
  clear: both;
}

 .rentpoints2{
  width: 100%;
  height: 260px;;
  margin-bottom: 180px;
  clear: both;
}


.thirdcontainerdouble{
  height: 270px;
  margin-top: 30px;
}

.col-lg-2{
  width: 50%;
}
  
.phone{
  display: block;
  margin: 0 auto;
  margin-top: 135px;
  width: 27%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 135px;
  width: 23%;
}

.thirdcontainer{
  height: 500px;
  width: 100%;
  clear:both;
}


.fourthcontainerrent {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 0px;
} 

.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -30px;
} 

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -30px;
} 


.centerdivider{
  margin: 0 auto;
  width: 800px;
  display: block;

}

.secondcontainer{
  width: 100%;
  height: 170px;
}

.dividerlinefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width:290px;
    background-color: $primary-color;
  clear:right;
}

.dividerline{
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  height: 1px;
  width: 290px;
  background-color: $primary-color;
  clear:right;
}

.dividerlinewhitefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width:290px;
    background-color: #fff;
  clear:right;
}

.dividerlinewhite{
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  height: 1px;
  width: 290px;
  background-color: #fff;
  clear:right;
}

.content{
  margin-top: 350px;
}

.whyrent{
  position: relative;
  z-index: 90;
  font-size: 5em;
  text-align: left;
  margin-left: 7.5%;
}

.arrow{
  margin-top: 50px;
  margin-left: -78%;
}

.img-responsive{
  margin-top: -940px;
  z-index: -2;
}

.homegrade{
  margin-top: -840px;
  position: relative;
  z-index: -2; 
  width: 100%;
}


  
.resptest{
  margin-top: -790px;
  position: relative;
  width: 100%;
}  

.rephome{
  margin-top: -860px;
  position: relative;
  width: 100%;
}

.txthome{
  margin-top: -850px;
  position: relative;
  width: 100%;
}

.renthome{
  margin-top: -860px;
  position: relative;
  width: 100%;
}

.leadhome{
  margin-top: -844px;
  position: relative;
  z-index: -2; 
} 

.conthome{
  margin-top: -844px;
  position: relative;
  z-index: -2; 
}
  

.gradetest{
 margin-top: -530px;
  position: relative;
  width: 100%;
  height: 940px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.contmove{
  margin-top: -390px;
  position: relative;
  width: 100%;
  height: 850px;
}

// .txtmove{
//   margin-top: -144px;
//   position: relative;
//   z-index: -2; 
// }
  

.contactmove{
  margin-top: -490px;
  position: relative;
  width: 100%;
  height: 850px;
}

.homemove{
  margin-top: -430px;
  position: relative;
  width: 100%;
  height: 850px;
}




 .macbook{
  display: block;
  margin: 0 auto;
  width: 35%;
  margin-top: 143px;
  z-index: 101;
}

 .macbookgreen{
  display: block;
  width: 85%;
  // margin-top: -350px;
  z-index: 2;
}

 .macbookblue{
  display: block;
  width: 100%;
  margin-top: 0px;
  z-index: 90;
}

.holding{
   position: relative;
   z-index: 101;
   width: 100%;
   height: 400px;
   margin-top: -150px;
}

.holding2{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 450px;
   margin-top: 440px;
}

.holding3{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 280px;
   margin-top: 740px;
}

.holding4{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 510px;
   margin-top: 440px;
}

.mainpointstest{
  margin-top: 15px;
  margin-left: 0%;
  margin-right: 20%;
  font-weight: 200;
  font-size: 1.4em;
  z-index: 101;
  text-align: left;
}
  
.pointswhite{
    color: #fff;
}
 
 .greendividerdotstest{
  display: block;
  margin-left: 0px;
  margin-top: 25px;
  width: 35px;
}
 
.titlecolortest {
   text-align: left;
  font-weight: 600;
  font-size: 3em;
  color: #fff;
  z-index: 102;
}

.titlecolortest2 {
   text-align: left;
  font-weight: 600;
  font-size: 3em;
  color: $secondary-color;
  z-index: 102;
}

.secondcontainerpartest {
  display: block;
  // float: left;
  margin-left: 12%;
  margin-top: -70%;
  text-align: center;
  margin-bottom: -425px;
  z-index: 101;
  width: 45%;
}

.secondcontainerpargreen {
  display: block;
  position: relative;
  // float: left;
  // margin-top: -450px;
  margin-left: 43%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
  z-index: 101;
}

.secondcontainerpartestright {
  display: block;
  // float: left;
  margin-left: 52%;
  margin-top: -76%;
  text-align: center;
  margin-bottom: -445px;
  z-index: 101;
  width: 45%;
}

.secondcontainerparblue {
  display: block;
  position: relative;
  // float: left;
  // margin-top: -450px;
  margin-left: 5%;
  width: 49%;
  height: auto;
  z-index: 1;
  // margin-top: -55px;
  z-index: 101;
}

.imac{
 padding-top: 95px;
  display: block;
  margin: 0 auto;
  width: 60%;
}

.headset{
  padding-top: 20px;
}

.qipad{
 padding-top: 0px;
  display: block;
  margin: 0 auto;
  width: 90%;
}

.col-md-3{
  margin-left: 5%;
  // width: 26%;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 45%;
}

input{
  width: 35%;
  color:$secondary-color;
} 
  
.secondcontainerpar {
  display: none;
  margin-top: -27%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
  width: 100%;
}


.lead{
  margin-top: 15px;
  // margin-left: 19%;
  margin-right: 34%;
  text-align: left;
  font-weight: 200;
  font-size: 1.4em;
}

.leadwhite{
  margin-top: 15px;
  margin-left: 18%;
  margin-right: 18%;
  font-weight: 200;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
 font-size: 1.3em;
 line-height: 1.5em;
}

.mainpoints{
  margin-top: 15px;
  margin-left: 18%;
  margin-right: 18%;
  font-weight: 200;
  font-size: 1.4em;
  z-index: 101;
}
  
.pointswhite{
    color: #fff;
 }
 
 .dividercontainer{
   margin-bottom: 40px;
   height: 40px;
   margin-top: 40px;
 }
 
.fourthcontainerbar {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 0px;
}

.dividercontainerbottom{
   margin-bottom: 40px;
   height: 40px;
   margin-top: 180px;
 }

.secondcontainerbottom{
  width: 100%;
  height: 90px;
}

.img-responsive-grey{
  margin-top: -260px;
  height: 750px;
  width: 100%;
  position: relative;
  z-index: -1; 
}

 .fourthcontainerdemo {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -60px;
}

.footerco {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 80px;
  padding-top: 17px;
  color: #777;
  background-color: $primary-color;
  text-align: center;
  z-index: 120;
  clear:both;
  margin-top: 600px;
}

}

@media screen and (min-width: 1232px) {
  
  .headset{
  // padding-top: 20px;
  margin-top: 90px;
}
  
 .demoinputsco{
  margin-top: 7%;
  height:175px;
  margin-bottom: 0px;
}

// .holding{
//    position: relative;
//    z-index: 101;
//    width: 100%;
//    height: 400px;
//    margin-top: -150px;
// }

  .holding2{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 400px;
   margin-top: 530px;
}


.holding3{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 280px;
   margin-top: 890px;
}

.holding4{
   position: relative;
   z-index: -1;
   width: 100%;
   height: 610px;
   margin-top: 300px;
  //  margin-bottom: 100px;
}

.hspace{
  width: 100%;
  height: 130px;
}

.quote2 {
  margin-left: 8%;
  margin-top: -400px;
  font-weight: 400;
  font-size: 2em;
  color: #fff;
  z-index: 102;
  line-height: 1.3em;
  width: 85%;
  height: 255px;

}  
  
.whyrent{
  position: relative;
  z-index: 90;
  font-size: 7em;
  text-align: left;
  margin-left: 7.5%;
  margin-top: 500px;
}

.lead{
  margin-top: 15px;
  margin-right: 44%;
  text-align: left;
  font-size: 1.4em;
}
  
.img-responsive{
  margin-top: -940px;
  z-index: -2;
}

.resptest{
  margin-top: -980px;
  z-index: -2;
}

.rephome{
  margin-top: -880px;
  position: relative;
  width: 100%;
}


.conthome{
  margin-top: -935px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -680px;
  position: relative;
  width: 100%;
  height: 940px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.contmove{
  margin-top: -680px;
  position: relative;
  width: 100%;
  height: 1050px;
}


.movetest{
   height: 1040px;
   margin-top: -460px;
}

.repmove{
  margin-top: -760px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.txtmove{
  margin-top: -785px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.rentmove{
  margin-top:-700px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.leadmove{
  margin-top:-700px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.contactmove{
  margin-top:-700px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.homemove{
  margin-top:-600px;
  position: relative;
  width: 100%;
  // height: 400px;
}



.col-md-3{
  margin-left: 5%;
  // width: 26%;
}

.secondcontainerparrent {
  margin-top: -40%;
  text-align: center;
  margin-bottom: 150px;
  z-index: 101;
  margin-left: 10%;
  margin-right: 10%;
}

.qipad{
  margin: 0 auto;
  margin-top: -100px;
  display: block;
  width: 75%;
}

.qphone{
  margin: 0 auto;
  margin-top: -120px;
  display: block;
  width: 60%;
}

.quote {
  margin-left: 8%;
  font-weight: 400;
  font-size: 3.5em;
  color: #fff;
  z-index: 102;
  line-height: 1.2em;
  width: 85%;
} 

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 30%;
}

.thirdcontainer{
  height: 400px;
}

.secondcontainerpartest {
  display: block;
  // float: left;
  margin-left: 18%;
  margin-top: -60%;
  text-align: center;
  margin-bottom: -455px;
  z-index: 101;
  width: 45%;
}

.secondcontainerpargreen {
  display: block;
  position: relative;
  // float: left;
  // margin-top: 50px;
  margin-left: 40%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: -90px;
  z-index: 101;
}

.secondcontainerpartestright {
  display: block;
  margin-left: 52%;
  margin-top: -64%;
  text-align: center;
  margin-bottom: -455px;
  z-index: 101;
  width: 45%;
}

.secondcontainerparblue {
  display: block;
  position: relative;
  margin-left: 5%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: -150px;
  z-index: 101;
}

.secondcontainerdemo {
  padding-top: 160px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.fourthcontainerdemo {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -60px;
}

.fourthcontainerrent {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 70px;
} 

.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 70px;
} 

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 70px;
} 

.fourthcontainerbar {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 30px;
} 

.rentpoints{
  margin-bottom:350px;
}

}


@media screen and (min-width: 1440px) {
   
.content{
  margin-top: 400px;
}

.img-responsive{
  margin-top: -1480px;
  z-index: -2;
}

.conthome{
  margin-top: -1250px;
  position: relative;
  z-index: -2; 
}

.homegrade{
  margin-top: -1400px;
  position: relative;
  z-index: -2; 
  width: 100%;
}

.gradetest{
  margin-top: -560px;
  position: relative;
  width: 100%;
  height: 1440px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.contmove{
  margin-top: -580px;
  position: relative;
  width: 100%;
  height: 1250px;
}

.leadmove{
  margin-top:-630px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.rentmove{
  margin-top:-670px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.repmove{
  margin-top: -600px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.contactmove{
  margin-top:-610px;
  position: relative;
  width: 100%;
  // height: 400px;
}
  
  
.txtmove{
  margin-top: -650px;
  position: relative;
  width: 100%;
  // height: 400px;
}
 
.secondcontainerpar {
  margin-top: -21%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.homemove{
  margin-top:-640px;
  position: relative;
  width: 100%;
  // height: 400px;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 20%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 20%;
}

.fourthcontainerrent {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 290px;
} 

.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 0px;
} 

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 0px;
} 
  
  
}


@media screen and (min-width: 1600px) {
  
  
.qphone{
  margin: 0 auto;
  margin-top: -400px;
  display: block;
  width: 60%;
}

.qipad{
  margin: 0 auto;
  margin-top: -400px;
  display: block;
  width: 75%;
}


  
.holding2{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 400px;
   margin-top: 690px;
}


.holding3{
   position: relative;
   z-index: 1;
   width: 100%;
   height: 280px;
   margin-top: 1240px;
}

.holding4{
   position: relative;
   z-index: -1;
   width: 100%;
   height: 610px;
   margin-top: 450px;
  //  margin-bottom: 100px;
}
  

  
    .lead{
  margin-top: 15px;
  margin-left: 7.8%;
  margin-right: 30%;
  font-weight: 200;
  font-size: 1.3em;
  width: 700px;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 35%;
}

.secondcontainerpartest {
  display: block;
  // float: left;
  margin-left: 18%;
  margin-top: -49%;
  text-align: center;
  margin-bottom: -585px;
  z-index: 101;
  width: 45%;
}

.secondcontainerpargreen {
  display: block;
  position: relative;
  // float: left;
  // margin-top: -450px;
  margin-left: 40%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
  z-index: 101;
}

.secondcontainerpartestright {
  display: block;
  margin-left: 52%;
  margin-top: -53%;
  text-align: center;
  margin-bottom: -580px;
  z-index: 101;
  width: 45%;
}

.secondcontainerparblue {
  display: block;
  position: relative;
  margin-left: 5%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: -50px;
  z-index: 101;
} 

.fourthcontainerrent {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 340px;
}

.fourthcontainermsg {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 340px;
}

.fourthcontainerrep {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 340px;
}

.mainpoints{
  margin-top: 15px;
  margin-left: 27%;
  margin-right: 27%;

  z-index: 101;
}

}

// @media screen and (min-width: 1800px) {
  
//   .lead{
//   margin-top: 15px;
//   margin-left: 8%;
//   margin-right: 30%;
//   font-weight: 200;
//   font-size: 1.3em;
//   width: 700px;
// }

// .mainpoints{
//   margin-top: 15px;
//   margin-left: 27%;
//   margin-right: 27%;
//   font-weight: 200;
//   font-size: 1.1em;
//   z-index: 101;
// }

// .phonerent{
//   display: block;
//   margin: 0 auto;
//   margin-top: 175px;
//   width: 15%;
// }
  
  
  
// }