$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// *{
//     outline:1px solid red;
//   }
  
  // #accord{
  //   z-index: 50;
  // }

.secondcontainerpartest {
  display:none; 
}

.secondcontainerpartestright {
  display:none; 
}

.macbookgreen{
  display: none;
}

.macbookblue{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}

// .hide{
//   display:none;
// }

.subheader {
  position: fixed;
  width: 100%;
  margin-top: 86px;
  height: 52px;
  background-color: #7BBC28;
  z-index: 99;
  display: none;
}

// $font-stack: proxima;
$primary-color: #444444;
$secondary-color: #7BBC28;

/* Navigation Menu - Background */
.navigation {
  margin-top: 80px;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index:1;
  list-style: none;
  background: $secondary-color;
}

ul{
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0px;
}

li{
  text-align: center;
}

/* Navigation Menu - List items */
.nav-item {
  width: 200px;
}

.nav-item a {
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover a:active  {
  color: $primary-color;
}
// .nav-item a:active {
//   color: Blue;
// }

  //   .nav-item:hover {
  //   text-decoration: none;
  //   color: $primary-color;
  // }


.smnav  {
  font-size: .7em;
}


/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: #fff; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding-bottom: 0px;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  right: 20px; top: 20px;
  z-index: 122;
  height: 42px;
  width: 57px;
  cursor: pointer;
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger .site-wrap {
  right: 15px;
  transition: right 0.2s;
}
.nav-trigger:checked, .site-wrap {
  right: 215px;
}

.nav-trigger:checked ~ .navigation {
  border: 4px solid red;
}

.nav-trigger:checked ~ .site-wrap {
  left: -200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

.nav-trigger:checked ~ .container {
  left: -200px;
  // box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

input{
  position: relative;
  display: block;
  margin: 0 auto;
  height: 47px;
  width: 65%;
  font-size: 1.2em;
  color:$secondary-color;
  margin-bottom: 8px;
  text-align: center;
}
 
::-webkit-input-placeholder {
 padding-top: -10px;
 font-size: 1.2em;
 text-align: center;
}

input:focus{
  font-size: 1.2em;
  color:$secondary-color;
  box-shadow: none;
  // box-shadow: 0 0 5px 1px $secondary-color;
  border:1px solid #ccc;
  outline: 0;
}

textarea:focus{
  outline:0;
  box-shadow: none;
}

h1 {
  font-weight: 200;
  font-size: 2.5em;
  color: $secondary-color;
}

.onewhite {
  font-weight: 400;
  font-size: 2.5em;
  color: #fff;
}

h2 {
  font-weight: 400;
  font-size: 1.7em;
  color: $secondary-color;
}

.phonenumber{
    color: #fff;
}

.phonenumberdemo{
    margin-top: 50px;
    margin-bottom: 50px;
    color: $secondary-color;
}

.titlecolor {
  font-weight: 400;
  font-size: 1.7em;
  color: #fff;
  z-index: 102;
}

.lead{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.3em;
}

.leadwhite{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
}

.mainpoints{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.1em;
  z-index: 101;
}
  
.pointswhite{
    color: #fff;
 }

.learn{
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 300;
  font-size: 1.1em;
  color: #7BBC28;
}

/* Custom page header */
.header {
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: #444444;
  z-index: 99;
    .headerlogo {
      width: 180px;
      margin-top: 25px;
      margin-left: 25px;
    }
}

.nav > li > a:hover,
.nav > li > a:focus {
        text-decoration: none;
        background-color: transparent; 
        color: $secondary-color;
 }

.nav {
    display: none;
  }
  
.greenbar{
  float: left;
  width: 15px;
  height: 85px;
  background-color: $secondary-color;
}

.menu {
  width: 42px;
  float:right;
  margin-top: 9px;
  margin-right: 12px;
}

.container{
  width: 100%;
  padding: 0px;
  z-index: 120;
}

/* Main marketing message and sign up button */
.firstcontainer {
  display: block;
  margin-top: 114px;
  text-align: center;
  // z-index: 120;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.img-responsive{
  margin-top: -400px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -340px;
  position: relative;
  width: 100%;
  height: 400px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.img-responsive-grey{
  margin-top: -380px;
  height: 600px;
  width: 100%;
  position: relative;
  z-index: -1; 
}

.downarrow{
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 15px;
  z-index: 101;
}

.dataicon{
  display:block;
  margin: 0 auto;
  width: 80px;
}

.centerdivider{
  margin: 0 auto;
  width: 300px;
  display: block;

}

.dividerdots{
  float: left;
  // margin: 0 auto;
  width: 35px;
  margin-top: -13px;
}

.dividerlinewhitefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: #fff;
  clear:right;
}

.dividerlinewhite{
  float: left;
  margin-left: 10px;
  // margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: #fff;
  clear:right;
}

.dividerlinefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
    background-color: $primary-color;
  clear:right;
}

.dividerline{
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: $primary-color;
  clear:right;
}


.greendividerdots{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 35px;
}

.col-md-3{
  margin-top: 60px;
}

.secondcontainer {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.secondcontainerdemo {
  padding-top: 130px;
  // margin-top: 130px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.secondcontainerpar {
  margin-top: -363px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerbottom {
  position: relative;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 50px;
}


.secondcontainerbottomdemo {
  position: relative;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}

.demoinputs{
  margin-top: 8%;
  height:175px;
}

.bottomcontainer {
  margin-top: -240px;
  text-align: center;
  margin-bottom: 0px;
}

.thirdcontainer {
  margin-top: 180px;
  text-align: center;
  margin-bottom: 60px;
}

.fourthcontainer {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -20px;
}

.fourthcontainerdemo {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 20px;
}

.fourthcontainerimage {
  margin-top: -150px;
  position: relative; 
  width: 100%;
  height: auto;
  z-indez: 99;
}

.dividercontainer {
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 10%;
  clear: right;
}

.dividercontainerbottom {
  float: left;
  width: 100%;
  height: 40px;
  margin-top: 30%;
  clear: right;
}

.greendiagonal{
  width: 100%;
  background-color: transparent;
  z-index: 101;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 450px;
}

.imac{
  display: block;
  margin: 0 auto;
  width: 90%;
}

.macbook{
  display: block;
  margin: 0 auto;
  width: 77%;
  margin-top: 143px;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 77%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 30%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}

  /* Make the masthead heading the same height as the navigation */
 h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

/* Custom page footer */
.footer {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 80px;
  padding-top: 17px;
  color: #777;
  background-color: $primary-color;
  text-align: center;
  z-index: 120;
}

.glyphicon{
  margin-top: 28px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
  
  
// .btn2 {
//   display: inline-block;
//   margin-bottom: 0;
//   font-weight: normal;
//   text-align: center;
//   vertical-align: middle;
//   -ms-touch-action: manipulation;
//       touch-action: manipulation;
//   cursor: pointer;
//   background-image: none;
//   border: 1px solid transparent;
//   white-space: nowrap;
//   padding: 6px 12px;
//   font-size: 14px;
//   line-height: 1.428571429;
//   border-radius: 4px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none; }

// .btn-primary2 {
//   color: #fff;
//   background-color: #45AAF2;
//   border-color: #2B91D9; }
//   .btn-primary:focus,
//   .btn-primary.focus {
//     color: #fff;
//     background-color: #45AAF2;
//     border-color: #2B91D9; }
//   .btn-primary:hover {
//     color: #fff;
//     background-color: #6EBBF2;
//     border-color: #45AAF2; }
//   .btn-primary:active,
//   .btn-primary.active,
//   .open > .btn-primary.dropdown-toggle {
//     color: #fff;
//     background-color: #45AAF2;
//     border-color: #204d74; }
//     .btn-primary:active:hover,
//     .btn-primary:active:focus,
//     .btn-primary:active.focus,
//     .btn-primary.active:hover,
//     .btn-primary.active:focus,
//     .btn-primary.active.focus,
//     .open > .btn-primary.dropdown-toggle:hover,
//     .open > .btn-primary.dropdown-toggle:focus,
//     .open > .btn-primary.dropdown-toggle.focus {
//       color: #fff;
//       background-color: #45AAF2;
//       border-color: #122b40; }
//   .btn-primary:active,
//   .btn-primary.active,
//   .open > .btn-primary.dropdown-toggle {
//     background-image: none; }
//   .btn-primary.disabled,
//   .btn-primary.disabled:hover,
//   .btn-primary.disabled:focus,
//   .btn-primary.disabled.focus,
//   .btn-primary.disabled:active,
//   .btn-primary.disabled.active,
//   .btn-primary[disabled],
//   .btn-primary[disabled]:hover,
//   .btn-primary[disabled]:focus,
//   .btn-primary[disabled].focus,
//   .btn-primary[disabled]:active,
//   .btn-primary[disabled].active,
//   fieldset[disabled] .btn-primary,
//   fieldset[disabled] .btn-primary:hover,
//   fieldset[disabled] .btn-primary:focus,
//   fieldset[disabled] .btn-primary.focus,
//   fieldset[disabled] .btn-primary:active,
//   fieldset[disabled] .btn-primary.active {
//     background-color: #45AAF2;
//     border-color: #2e6da4; }
//   .btn-primary .badge {
//     color: #45AAF2;
//     background-color: #fff; }



  
}


@media screen and (min-width: 321px) {

.img-responsive{
  margin-top: -400px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -300px;
  position: relative;
  width: 100%;
  height: 400px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}
}

/* Responsive: Portrait phones and up */
@media screen and (min-width: 400px) {
  
.firstcontainer {
  margin-top: 124px;
}

.img-responsive{
  margin-top: -410px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -360px;
  position: relative;
  width: 100%;
  height: 400px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}
.thirdcontainer {
  margin-top: 70px;
}

.thirdcontainer {
  margin-top: 150px;
  text-align: center;
}

// .firstcontainer{
//   height: 700px;
// }

.arrow{
  margin-top: 100px;
}

/* Main marketing message and sign up button */
.secondcontainer {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.secondcontainerpar {
  margin-top: -355px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.leadwhite{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
}

.macbook{
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 193px;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 170px;
  width: 55%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 170px;
  width: 50%;
}

.dividercontainerbottom {
  width: 100%;
  height: 40px;
  margin-top: 20%;
  clear: right;
}

.secondcontainerpartest {
  display:none; 
}

.secondcontainerpartestright {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

}


@media screen and (min-width: 558px) {
.img-responsive{
  margin-top: -410px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -320px;
  position: relative;
  width: 100%;
  height: 400px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}


}

@media screen and (min-width: 640px) {
  
.img-responsive{
  margin-top: -586px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -505px;
  position: relative;
  width: 100%;
  height: 650px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}  
  
  
.content{
  margin-top:250px;
}

h1 {
  color: $secondary-color;
}

.thirdcontainer {
  margin-top: 100px;
  text-align: center;
}

.greendiagonalpar{
  margin-top: 30px;
  width: 100%;
  height: 450px;
}

.secondcontainerpar {
  margin-top: -322px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerpartest {
  display:none; 
}

.secondcontainerpartestright {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 230px;
  width: 32%;
}
  
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
.navigation{
  display:none;
}

.img-responsive{
  margin-top: -794px;
  position: relative;
  z-index: -2; 
}

.gradetest{
  margin-top: -445px;
  position: relative;
  width: 100%;
  height: 850px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}  
  
  
.container {
   max-width: 100%;
}
  
.header {
   margin-bottom: 30px;
   z-index: 99;
     .headerlogo{
       margin-left: 40px;
     }
     .nav {
       display: inline-block;
       margin-top: 24px;
       margin-right: 40px;
     }
     .menu{
       display: none;
     }
  }
  
  .subheader {
    display: block;
    z-index: 98;
     .nav {
       margin: 0 auto;
       width: 100%;
     }
  }
  
  .subtxt{
      display: inline;
      width: 100px;
      margin: 0 auto;
      margin-left: 5%;
      font-weight: 400;
      font-size: 1em;
  }
  
  .dropnav{
    display: block;
    width: 805px;
    margin: 0 auto;
    margin-top: 16px;
  }
  
  .sublink:hover {
    text-decoration: none;
    color: $primary-color;
  }
  
  
  label{
       display: none;
  }
     
    a:visited {
    color: #fff;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 230px;
  width: 30%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 230px;
  width: 30%;
}


.macbook{
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: 143px;
}

.imac{
  display: block;
  margin: 0 auto;
  width: 90%;
}

.col-md-3{
  margin-left: 3%;
  margin-right: 3%;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 20%;
}

input{
  width: 45%;
  color:$secondary-color;
}

.demoinputs{
  margin-top: 4%;
  height:175px;
}

.secondcontainerpar {
  margin-top: -41%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.fourthcontainer {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
}

.arrow{
  margin-top: 50px;
}

.thirdcontainer {
  margin-top: -20px;
  text-align: center;
}

.secondcontainerpartest {
  display:none; 
}

.secondcontainerpartestright{
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

}

@media screen and (min-width: 993px) {
.col-md-3{
  margin-left: 6.5%;
  margin-right: 0;
}

.secondcontainerpartest {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

.secondcontainerpar {
  margin-top: -40%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 20%;
}
}

/* Deskstop and up */
@media screen and (min-width: 1024px) {
  
.phone{
  display: block;
  margin: 0 auto;
  margin-top: 135px;
  width: 27%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 135px;
  width: 23%;
}

.thirdcontainer{
  height: 400px;
}


.centerdivider{
  margin: 0 auto;
  width: 800px;
  display: block;

}

.secondcontainer{
  width: 100%;
  height: 170px;
}

.dividerlinefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width:290px;
    background-color: $primary-color;
  clear:right;
}

.dividerline{
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  height: 1px;
  width: 290px;
  background-color: $primary-color;
  clear:right;
}

.dividerlinewhitefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width:290px;
    background-color: #fff;
  clear:right;
}

.dividerlinewhite{
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  height: 1px;
  width: 290px;
  background-color: #fff;
  clear:right;
}

.content{
  margin-top: 250px;
}

.whyrent{
  position: relative;
  z-index: 90;
  font-size: 4.5em;
}

.arrow{
  margin-top: 50px;
}

.img-responsive{
  margin-top: -960px;
  z-index: -2;
}

.gradetest{
  margin-top: -410px;
  position: relative;
  width: 100%;
  height: 940px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}
  
 .macbook{
  display: block;
  margin: 0 auto;
  width: 35%;
  margin-top: 143px;
  z-index: 101;
}

 .macbookgreen{
  display: block;
  width: 85%;
  margin-top: 0px;
  z-index: 101;
}

 .macbookblue{
  display: block;
  width: 100%;
  margin-top: 0px;
  z-index: 90;
}

.holding{
   position: relative;
   z-index: 101;
   width: 100%;
   height: 400px;
   margin-top: -150px;
}

.mainpointstest{
  margin-top: 15px;
  margin-left: 0%;
  margin-right: 20%;
  font-weight: 200;
  font-size: 1.1em;
  z-index: 101;
  text-align: left;
}
  
.pointswhite{
    color: #fff;
}
 
 .greendividerdotstest{
  display: block;
  margin-left: 0px;
  margin-top: 25px;
  width: 35px;
}
 
.titlecolortest {
   text-align: left;
  font-weight: 400;
  font-size: 1.7em;
  color: #fff;
  z-index: 102;
}

.secondcontainerpartest {
  display: block;
  // float: left;
  margin-left: 12%;
  margin-top: -64%;
  text-align: center;
  margin-bottom: -425px;
  z-index: 101;
  width: 45%;
}

.secondcontainerpargreen {
  display: block;
  position: relative;
  // float: left;
  // margin-top: -450px;
  margin-left: 43%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
  z-index: 101;
}

.secondcontainerpartestright {
  display: block;
  // float: left;
  margin-left: 52%;
  margin-top: -65%;
  text-align: center;
  margin-bottom: -445px;
  z-index: 101;
  width: 45%;
}

.secondcontainerparblue {
  display: block;
  position: relative;
  // float: left;
  // margin-top: -450px;
  margin-left: 5%;
  width: 49%;
  height: auto;
  z-index: 1;
  // margin-top: -55px;
  z-index: 101;
}

.imac{
 padding-top: 60px;
  display: block;
  margin: 0 auto;
  width: 60%;
}

.col-md-3{
  margin-left: 6%;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 45%;
}

input{
  width: 35%;
  color:$secondary-color;
} 
  
.secondcontainerpar {
  display: none;
  margin-top: -32%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
  width: 100%;
}


.lead{
  margin-top: 15px;
  margin-left: 17%;
  margin-right: 17%;
  font-weight: 200;
  font-size: 1.3em;

}

.leadwhite{
  margin-top: 15px;
  margin-left: 18%;
  margin-right: 18%;
  font-weight: 200;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
}

.mainpoints{
  margin-top: 15px;
  margin-left: 18%;
  margin-right: 18%;
  font-weight: 200;
  font-size: 1.1em;
  z-index: 101;
}
  
.pointswhite{
    color: #fff;
 }
 
 .dividercontainer{
   margin-bottom: 40px;
   height: 40px;
   margin-top: 40px;
 }
 
.fourthcontainerbar {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -120px;
}

.dividercontainerbottom{
   margin-bottom: 40px;
   height: 40px;
   margin-top: 220px;
 }

.secondcontainerbottom{
  width: 100%;
  height: 170px;
}

.img-responsive-grey{
  margin-top: -260px;
  height: 750px;
  width: 100%;
  position: relative;
  z-index: -1; 
}

// .onewhite {
//   margin-top: 100px;
//   font-weight: 400;
//   font-size: 2.5em;
//   color: #fff;
// }
 

}

@media screen and (min-width: 1232px) {
  
.img-responsive{
  margin-top: -960px;
  z-index: -2;
}

.gradetest{
  margin-top: -460px;
  position: relative;
  width: 100%;
  height: 940px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 30%;
}

.secondcontainerpartest {
  display: block;
  // float: left;
  margin-left: 18%;
  margin-top: -58%;
  text-align: center;
  margin-bottom: -455px;
  z-index: 101;
  width: 45%;
}

.secondcontainerpargreen {
  display: block;
  position: relative;
  // float: left;
  // margin-top: -450px;
  margin-left: 40%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
  z-index: 101;
}

.secondcontainerpartestright {
  display: block;
  margin-left: 52%;
  margin-top: -62%;
  text-align: center;
  margin-bottom: -455px;
  z-index: 101;
  width: 45%;
}

.secondcontainerparblue {
  display: block;
  position: relative;
  margin-left: 5%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: -50px;
  z-index: 101;
}

.secondcontainerdemo {
  padding-top: 160px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.fourthcontainerdemo {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -50px;
}


}


@media screen and (min-width: 1440px) {
  
.content{
  margin-top: 400px;
}

.img-responsive{
  margin-top: -1480px;
  z-index: -2;
}

.gradetest{
  margin-top: -560px;
  position: relative;
  width: 100%;
  height: 1440px;
    background: -webkit-linear-gradient(left, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(255,255,255,.8), rgba(255,255,255,.8)); /* Standard syntax (must be last) */
    z-index: -1;
}
  
.secondcontainerpar {
  margin-top: -21%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 20%;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 20%;
}
  
}


@media screen and (min-width: 1600px) {

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 35%;
}

.secondcontainerpartest {
  display: block;
  // float: left;
  margin-left: 18%;
  margin-top: -49%;
  text-align: center;
  margin-bottom: -585px;
  z-index: 101;
  width: 45%;
}

.secondcontainerpargreen {
  display: block;
  position: relative;
  // float: left;
  // margin-top: -450px;
  margin-left: 40%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
  z-index: 101;
}

.secondcontainerpartestright {
  display: block;
  margin-left: 52%;
  margin-top: -53%;
  text-align: center;
  margin-bottom: -580px;
  z-index: 101;
  width: 45%;
}

.secondcontainerparblue {
  display: block;
  position: relative;
  margin-left: 5%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: -50px;
  z-index: 101;
} 

}

@media screen and (min-width: 1600px) {
  
  .lead{
  margin-top: 15px;
  margin-left: 30%;
  margin-right: 30%;
  font-weight: 200;
  font-size: 1.3em;
}

.mainpoints{
  margin-top: 15px;
  margin-left: 27%;
  margin-right: 27%;
  font-weight: 200;
  font-size: 1.1em;
  z-index: 101;
}

.phonerent{
  display: block;
  margin: 0 auto;
  margin-top: 175px;
  width: 15%;
}
  
  
  
}