$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// *{
//     outline:1px solid red;
//   }

a {
    color: #fff;
}

a:visited {
    color: #fff;
}

.subheader {
  position: fixed;
  width: 100%;
  margin-top: 86px;
  height: 52px;
  background-color: #7BBC28;
  z-index: 99;
  display: none;
}

// $font-stack: proxima;
$primary-color: #444444;
$secondary-color: #7BBC28;

/* Navigation Menu - Background */
.navigation {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index:-1;
  list-style: none;
  background: $secondary-color;
}

ul{
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0px;
}

li{
  text-align: center;
}

/* Navigation Menu - List items */
.nav-item {
  width: 200px;
}

.nav-item a {
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: $primary-color;
  
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: #fff; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding-bottom: 500px;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: fixed;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  right: 20px; top: 20px;
  z-index: 2;
  height: 42px;
  width: 57px;
  cursor: pointer;
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger + label {
  right: 15px;
  transition: right 0.2s;
}
.nav-trigger:checked + label {
  right: 215px;
}

.nav-trigger:checked ~ .navigation {
  border: 4px solid red;
}

.nav-trigger:checked ~ .site-wrap {
  left: -200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

input{
  position: relative;
  display: block;
  margin: 0 auto;
  height: 47px;
  width: 65%;
  font-size: 1.2em;
  color:$secondary-color;
  margin-bottom: 8px;
  text-align: center;
}
 
::-webkit-input-placeholder {
  padding-top: -10px;
 font-size: 1.2em;
 text-align: center;
}

input:focus{
  font-size: 1.2em;
  color:$secondary-color;
  box-shadow: none;
  // box-shadow: 0 0 5px 1px $secondary-color;
  border:1px solid #ccc;
  outline: 0;
}

textarea:focus{
  outline:0;
  box-shadow: none;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
}

.onewhite {
  font-weight: 400;
  font-size: 2.5em;
  color: #fff;
}

h2 {
  font-weight: 400;
  font-size: 1.7em;
  color: $secondary-color;
}

.phonenumber{
    color: #fff;
}

.titlecolor {
  font-weight: 400;
  font-size: 1.7em;
  color: #fff;
  z-index: 102;
}

.lead{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.3em;
}

.leadwhite{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
}

.mainpoints{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.1em;
  z-index: 101;
}
  
  .pointswhite{
    color: #fff;
 }

.learn{
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 300;
  font-size: 1.1em;
  color: #7BBC28;
}

/* Custom page header */
.header {
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: #444444;
  z-index: 99;
    .headerlogo {
      width: 180px;
      margin-top: 25px;
      margin-left: 25px;
    }
}

.nav > li > a:hover,
.nav > li > a:focus {
        text-decoration: none;
        background-color: transparent; 
        color: $secondary-color;
 }

.nav {
    display: none;
  }
  
.greenbar{
  float: left;
  width: 15px;
  height: 85px;
  background-color: $secondary-color;
}

.menu {
  width: 42px;
  float:right;
  margin-top: 9px;
  margin-right: 12px;
}

.container{
  width: 100%;
  padding: 0px;
  z-index: 99;
}

/* Main marketing message and sign up button */
.firstcontainer {
  display: block;
  margin-top: 114px;
  text-align: center;
  z-index: 1;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.img-responsive{
  margin-top: -360px;
  position: relative;
  z-index: -1; 
}

.img-responsive-grey{
  margin-top: -380px;
  height: 600px;
  width: 100%;
  position: relative;
  z-index: -1; 
}

.downarrow{
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 15px;
  z-index: 101;
}

.dataicon{
  display:block;
  margin: 0 auto;
  width: 80px;
}

.centerdivider{
  margin: 0 auto;
  width: 300px;
  display: block;

}

.dividerdots{
  float: left;
  // margin: 0 auto;
  width: 35px;
  margin-top: -13px;
}

.dividerlinewhitefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: #fff;
  clear:right;
}

.dividerlinewhite{
  float: left;
  margin-left: 10px;
  // margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: #fff;
  clear:right;
}

.dividerlinefirst{
  float: left;
  margin-left: 11%;
  margin-right: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
    background-color: $primary-color;
  clear:right;
}

.dividerline{
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  height: 1px;
  width: 90px;
  background-color: $primary-color;
  clear:right;
}


.greendividerdots{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 35px;
}

.col-md-3{
  margin-top: 60px;
}

.secondcontainer {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.secondcontainerpar {
  margin-top: -363px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerbottom {
  position: relative;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.demoinputs{
  margin-top: 8%;
  height:175px;
}

.bottomcontainer {
  margin-top: -240px;
  text-align: center;
  margin-bottom: 0px;
}

.thirdcontainer {
  margin-top: 210px;
  text-align: center;
}

.fourthcontainer {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: -20px;
}

.fourthcontainerimage {
  margin-top: -150px;
  position: relative; 
  width: 100%;
  height: auto;
  z-indez: 99;
}

.dividercontainer {
  float: left;
  width: 100%;
  height: 60px;
  margin-top: 10%;
  clear: right;
}

.dividercontainerbottom {
  float: left;
  width: 100%;
  height: 40px;
  margin-top: 30%;
  clear: right;
}

.greendiagonal{
  width: 100%;
  background-color: transparent;
  z-index: 101;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 450px;
}

.imac{
  display: block;
  margin: 0 auto;
  width: 90%;
}

.macbook{
  display: block;
  margin: 0 auto;
  width: 77%;
  margin-top: 143px;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 77%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

  /* Make the masthead heading the same height as the navigation */
 h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

/* Custom page footer */
.footer {
  width: 100%;
  height: 80px;
  padding-top: 19px;
  color: #777;
  background-color: $primary-color;
  // border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
  
#demob {
  display: none;
  color: blue;
  background-image: none;
  position: relative;
  width: 900px;
  height: 400px;
}

.secondcontainerpartest {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

  
}

/* Responsive: Portrait phones and up */
@media screen and (min-width: 400px) {
  
  .firstcontainer {
  margin-top: 124px;
}

  .img-responsive{
  margin-top: -355px;
}

.thirdcontainer {
  margin-top: 70px;
}

.thirdcontainer {
  margin-top: 150px;
  text-align: center;
}

// .firstcontainer{
//   height: 700px;
// }

.arrow{
  margin-top: 100px;
}

/* Main marketing message and sign up button */
.secondcontainer {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 1;
}

.secondcontainerpar {
  margin-top: -355px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.leadwhite{
  margin-top: 15px;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 200;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
}

.macbook{
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 193px;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 170px;
  width: 55%;
}

.dividercontainerbottom {
  width: 100%;
  height: 40px;
  margin-top: 20%;
  clear: right;
}

.secondcontainerpartest {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

}

@media screen and (min-width: 640px) {
  
.img-responsive{
  margin-top: -455px;
}
  
.content{
  margin-top:250px;
}

h1 {
  color: $secondary-color;
}

.thirdcontainer {
  margin-top: 100px;
  text-align: center;
}

.greendiagonalpar{
  margin-top: 30px;
  width: 100%;
  height: 450px;
}

.secondcontainerpar {
  margin-top: -322px;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.secondcontainerpartest {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}
  
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
.navigation{
  display:none;
}
  
.container {
   max-width: 100%;
}
  
.header {
   margin-bottom: 30px;
   z-index: 99;
     .headerlogo{
       margin-left: 40px;
     }
     .nav {
       display: inline-block;
       margin-top: 24px;
       margin-right: 40px;
     }
     .menu{
       display: none;
     }
  }
  
  .subheader {
    display: block;
    z-index: 98;
     .nav {
       margin: 0 auto;
       width: 100%;
     }
  }
  
  .subtxt{
      display: inline;
      width: 100px;
      margin: 0 auto;
      margin-left: 5%;
      font-weight: 400;
      font-size: 1em;
  }
  
  .dropnav{
    display: block;
    width: 805px;
    margin: 0 auto;
    margin-top: 16px;
  }
  
  .sublink:hover {
    text-decoration: none;
    color: $primary-color;
  }

  
  label{
       display: none;
  }
     
    a:visited {
    color: #fff;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 35%;
}

.macbook{
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: 143px;
}

.imac{
  display: block;
  margin: 0 auto;
  width: 90%;
}

.col-md-3{
  margin-left: 3%;
  margin-right: 3%;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 450px;
}

input{
  width: 45%;
  color:$secondary-color;
}

.demoinputs{
  margin-top: 4%;
  height:175px;
}

.secondcontainerpar {
  margin-top: -41%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.fourthcontainer {
  width: 100%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
}

.arrow{
  margin-top: 50px;
}

.img-responsive{
  margin-top: -420px;
}

.thirdcontainer {
  margin-top: -20px;
  text-align: center;
}

.secondcontainerpartest {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}

}

@media screen and (min-width: 993px) {
.col-md-3{
  margin-left: 6.5%;
  margin-right: 0;
}

.secondcontainerpartest {
  display:none; 
}

.macbookgreen{
  display: none;
}

.secondcontainerpargreen{
  display: none;
}
}

/* Deskstop and up */
@media screen and (min-width: 1024px) {
  
  .phone{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 27%;
}
  
 .macbook{
  display: block;
  margin: 0 auto;
  width: 35%;
  margin-top: 143px;
  z-index: 101;
}

 .macbookgreen{
  display: block;
  width: 67%;
  margin-top: 0px;
  z-index: 101;
}

.mainpointstest{
  margin-top: 15px;
  margin-left: 0%;
  margin-right: 20%;
  font-weight: 200;
  font-size: 1.1em;
  z-index: 101;
  text-align: left;
}
  
.pointswhite{
    color: #fff;
}
 
 .greendividerdotstest{
  display: block;
  margin-left: 0px;
  margin-top: 25px;
  width: 35px;
}
 
.titlecolortest {
   text-align: left;
  font-weight: 400;
  font-size: 1.7em;
  color: #fff;
  z-index: 102;
}

.holding{
   position: relative;
   z-index: 101;
   width: 100%;
   height: 700px;
}

.secondcontainerpartest {
  display: block;
  // float: left;
  margin-left: 22%;
  margin-top: -88%;
  text-align: center;
  margin-bottom: -350px;
  z-index: 101;
  width: 45%;
}

.secondcontainerpargreen {
  display: block;
  position: relative;
  // float: left;
  // margin-top: -450px;
  margin-left: 48%;
  width: 49%;
  height: auto;
  z-index: 1;
  margin-top: 10px;
  z-index: 101;
}

.imac{
  display: block;
  margin: 0 auto;
  width: 60%;
}

.col-md-3{
  margin-left: 6%;
}

.greendiagonalpar{
  width: 100%;
  background-color: transparent;
  z-index: 90;
  height: 950px;
}

input{
  width: 35%;
  color:$secondary-color;
} 
  
.img-responsive-grey{
  margin-top: -380px;
  height: 650px;
  width: 100%;
  position: relative;
  z-index: -1; 
}

.secondcontainerpar {
  display: none;
  margin-top: -32%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
  width: 100%;
}

.lead{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.3em;
}

.leadwhite{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.3em;
  color: #fff;
}

.leadpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
}

.mainpoints{
  margin-top: 15px;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 1.1em;
  z-index: 101;
}
  
.pointswhite{
    color: #fff;
 }
 
 

}

@media screen and (min-width: 1440px) {
  
  .secondcontainerpar {
  margin-top: -21%;
  text-align: center;
  margin-bottom: 50px;
  z-index: 101;
}

.phone{
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  width: 20%;
}
  
  
  
  
  
}
